**<h3>Data Installation</h3>**

In [3]:
import csv
import pandas as pd

df = pd.read_csv('blinkit_retail.csv')
df = df.drop('Tag', axis=1)
df.head()

,Title,Price_discount,Price_original,Details,Date,Place
0,Onion 1 kg (Pyaz),₹ 40,₹ 50,NaN,20240117,Bengaluru
1,Desi Tomato (Tamatar),₹ 19,₹ 25,NaN,20240117,Bengaluru
2,Red Carrot (Gajar),₹ 15,₹ 20,500 g,20240117,Bengaluru
3,Ginger (Adrak),₹ 37,₹ 49,200 g,20240117,Bengaluru
4,Green Chilli (Hari Mirch),₹ 11,₹ 14,100 g,20240117,Bengaluru